.odd {
    background: lightpink;
    font-family: verdana, 'DejaVu Sans', sans-serif;
}
#two {
    color: blue;
    font-size: 36px;
}
.three {
    font-size: 24px;
}
#four {
    background: lightgreen;
    font-weight: bold;
    font-size: 24px;
}
.space{
    background: white;
    margin: 20px;
}
.btn1, .btn2 {
   font-size: 28px;
   font-family: Helvetica, 'Times New Roman', sans-serif; 
} 
.btn1 {
    background: black;
    color: white;
}
.btn2 {
    background: yellow;
}
.avatar.proportioned {
    width: 300px;
    height: auto;
}
.avatar.distorted {
    width: 200px;
    height: 400px;
}